.mt-0 {
  margin-top: 0 !important;
}

.btn {
  display: flex;
  font-family: var(--title-font);
  padding: 23px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all var(--transition-duration);
}

.btn-green {
  background: var(--main-green-color);
  color: var(--white-color);
}
.btn-green:hover {
  background: rgba(0, 149, 81, 0.5);
}

.btn-white {
  background: rgba(255, 255, 255, 0.2);
  color: var(--white-color);
}
.btn-white:hover {
  background: rgba(255, 255, 255, 0.5);
}

.btn-trans {
  background: none;
  border: 2px solid var(--main-green-color);
}
.btn-trans:hover {
  background: rgba(0, 149, 81, 0.2);
}

.btn-sm {
  padding: 18px 50px;
}

.btn-xsm {
  padding: 23px 25px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white-color);
  text-decoration: none;
  transition: all var(--transition-duration);
  color: #FFF;
  font-family: var(--title-font);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}
.link svg path {
  transition: all var(--transition-duration);
}
.link:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: translateY(-3px);
}
.link:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}

.false-phone-link {
  display: none;
}

.foot-link {
  font-size: 22px;
  text-transform: none;
}

.sm-link {
  color: var(--white-color);
  font-size: 17px;
  font-weight: 400;
  text-decoration-line: underline;
  transition: all var(--transition-duration);
}
.sm-link:hover {
  color: var(--main-green-color);
}

.dark-link {
  color: #201C26;
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 500;
  transition: all var(--transition-duration);
}
.dark-link:hover {
  color: var(--main-green-color);
}

.footer-phone-link {
  font-size: 35px;
}

.footer-email-link {
  font-size: 30px;
  font-weight: 400;
  text-transform: none;
}

.white-text {
  color: var(--white-color);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.dark-text {
  color: var(--dark-color);
}

.white-text {
  color: var(--white-color);
}

.green-text {
  color: var(--main-green-color);
}

.h2 {
  font-family: var(--title-font);
  font-size: 80px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.h3 {
  font-family: var(--title-font);
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.h4 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.44px;
}
.text p:not(:last-child) {
  margin-bottom: 25px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.no-scroll {
  overflow: hidden;
}