#wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
}

.fs {
  width: 100%;
  height: 100vh;
}
.fs__slider {
  width: 100%;
  height: 100%;
}
.fs__slider_pagination {
  z-index: 101;
  left: 64px !important;
  top: 170px !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}
.fs__slider .swiper-pagination-bullet {
  width: 4px;
  height: 65px;
  border-radius: 0;
  background: var(--white-color);
  opacity: 0.2;
}
.fs__slider .swiper-pagination-bullet-active {
  opacity: 1;
}
.fs__slide {
  width: 100%;
  height: 100%;
}
.fs__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fs__slide_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.fs__slide_content h1 {
  font-size: 115px;
  color: var(--white-color);
  font-weight: 600;
  margin-top: 115px;
  text-transform: uppercase;
}
.fs__slide_content h1 .line:nth-child(1) {
  margin-left: 78px;
  white-space: nowrap;
}
.fs__slide_content h1 .line:nth-child(3) {
  margin-left: 208px;
  white-space: nowrap;
}
.fs__slide_content h1 .line:nth-child(5) {
  margin-left: 0px;
  white-space: nowrap;
}
.fs__slide_title {
  padding: 55px 0 90px 64px;
  width: 45.2083333333%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.fs__slide_text {
  width: 54.84375%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: auto;
  height: 100%;
  padding: 15px 64px 55px 15px;
  margin-top: -1px;
}
.fs__slide_text p {
  color: var(--white-color);
  font-size: 22px;
  margin-bottom: 16px;
}
.fs__slide_decor {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.about {
  padding-top: 40px;
}
.about .h2 {
  margin-bottom: 35px;
}
.about__content {
  gap: 32px;
}
.about__content.border {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}
.about__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__top h3 {
  text-transform: none;
}
.about__top .role {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.52px;
  margin-bottom: 20px;
}
.about__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.about__text.border-block {
  padding: 36px 26px;
  border: 1px solid var(--main-green-color);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__text blockquote {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding-left: 20px;
  margin-left: 0;
  border-left: 1px solid var(--main-green-color);
}
.about__text_bottom {
  padding-left: 20px;
  gap: 10px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__text_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__text_list li {
  padding-top: 12px;
  padding-bottom: 12px;
}
.about__text_list li:not(:first-child) {
  border-top: 1px solid var(--main-green-color);
}
.about__text_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 18px;
  width: 90%;
}
.about__text_points li {
  list-style: square;
}
.about__text_points li::marker {
  color: var(--main-green-color);
}
.about__bottom {
  margin-top: 90px;
}
.about__img {
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;
  width: calc(50% - 30px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__img.wide {
  width: 64%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about__quoting {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}
.about__quoting .before {
  content: url(../img/icons/quote-open.png);
  display: block;
  margin-right: auto;
  margin-bottom: 36px;
}
.about__quoting .before svg {
  width: 100%;
  height: 100%;
}
.about__quoting .after {
  content: url(../img/icons/quote-close.png);
  display: block;
  margin-left: auto;
  margin-top: 32px;
}
.about__quoting .after svg {
  width: 100%;
  height: 100%;
}
.about__quoting p {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.44px;
  margin-bottom: 16px;
}
.about__quoting_title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.52px;
  margin-bottom: 16px;
}
.about__services_block {
  margin-top: 53px;
  padding-top: 105px;
  padding-bottom: 120px;
}
.about__services_block .h2 {
  margin-bottom: 76px;
}
.about__services_item {
  padding-right: 40px;
  border-top: 1px solid var(--white-color);
}
.about__services_item:last-child {
  border-top: 1px solid var(--white-color);
}
.about__services_item a {
  font-family: var(--title-font);
  color: var(--white-color);
  font-size: 50px;
  font-weight: 500;
  line-height: 170.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.about__services_item a:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.about__desc {
  padding-top: 70px;
  padding-bottom: 80px;
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
  margin-top: 79px;
}
.about__desc_row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__desc_img {
  width: 32.7008928571%;
  border-radius: 10px;
  overflow: hidden;
  isolation: isolate;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about__desc_img img {
  width: 100%;
  height: 100%;
}
.about__desc_text {
  width: 58.984375%;
  padding-top: 28px;
  position: sticky;
  top: 0;
}
.about__desc_bottom {
  margin-top: 60px;
}
.about__date {
  margin-top: 48px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
}

.directions {
  overflow: hidden;
}
.directions .h4 {
  margin-bottom: 100px;
}
.directions__slider {
  overflow: visible;
}
.directions__slider-container {
  position: relative;
}
.directions__slider_blur {
  position: absolute;
  width: 400px;
  height: 100px;
  right: -64px;
}
.directions__slider_pagination {
  position: relative;
  margin-top: 45px;
  text-align: center;
}
.directions__slider_pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-green-color);
  background: none;
  opacity: 1;
}
.directions__slider_pagination .swiper-pagination-bullet-active {
  background: var(--main-green-color);
}
.directions__slide {
  gap: 20px;
}
.directions__slide_img {
  width: 38.3673469388%;
  border-radius: 7px;
  overflow: hidden;
  isolation: isolate;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.directions__slide_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.directions__slide_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.directions__slide .btn {
  margin-top: auto;
  color: var(--main-green-color);
}
.directions__slide .btn:hover {
  background: rgba(0, 149, 81, 0.5);
}
.directions__slide_title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.52px;
  margin-bottom: 12px;
}
.directions__slide_text {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.first .h2 {
  margin-bottom: 90px;
}
.first__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 90px;
}
.first__img {
  width: 40.9598214286%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;
}
.first__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first__text {
  position: sticky;
  top: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.first__text_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 56px;
}
.first__text ul {
  padding: 56px 60px 0 25px;
  border-top: 2px solid var(--main-green-color);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.44px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.first__text ul li {
  list-style-type: disc;
}
.first__text ul li::marker {
  color: var(--main-green-color);
}

.team {
  overflow: hidden;
}
.team .h2 {
  margin-bottom: 100px;
}
.team__slider {
  overflow: visible;
}
.team__slider-container {
  position: relative;
}
.team__slider_blur {
  position: absolute;
  width: 400px;
  height: 100px;
  right: -64px;
}
.team__slider_pagination {
  position: relative;
  margin-top: 50px;
  text-align: center;
}
.team__slider_pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-green-color);
  background: none;
  opacity: 1;
}
.team__slider_pagination .swiper-pagination-bullet-active {
  background: var(--main-green-color);
}
.team__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.team__slide_img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  isolation: isolate;
}
.team__slide_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__slide_content {
  width: 80%;
}
.team__slide_name {
  font-family: var(--title-font);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 35px;
}
.team__slide_role {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.44px;
}

.projects {
  overflow: hidden;
}
.projects .h2 {
  margin-bottom: 100px;
}
.projects h1 {
  padding-top: 43px;
}
.projects__slider {
  overflow: visible;
}
.projects__slider-container {
  position: relative;
  margin-top: 70px;
}
.projects__slider_blur {
  position: absolute;
  width: 400px;
  height: 100px;
  right: -64px;
}
.projects__slider_pagination {
  position: relative;
  margin-top: 50px;
  text-align: center;
}
.projects__slider_pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-green-color);
  background: none;
  opacity: 1;
}
.projects__slider_pagination .swiper-pagination-bullet-active {
  background: var(--main-green-color);
}
.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 508px);
  grid-auto-flow: row;
  gap: 15px;
}
.projects__grid_item:nth-child(3) {
  grid-row: span 2;
}
.projects__grid_item:last-child {
  grid-column: span 2;
}
.projects__desc {
  padding-top: 64px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.projects__desc_text {
  margin-bottom: 40px;
}
.projects__slide {
  position: relative;
}
.projects__slide_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  isolation: isolate;
}
.projects__slide_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__slide_content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10.19%, rgba(0, 0, 0, 0.3)), color-stop(80.34%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 10.19%, rgba(0, 0, 0, 0) 80.34%);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 25px;
  border-radius: 10px;
}
.projects__slide_icon {
  border-radius: 10px;
  background: var(--white-color);
  padding: 6px 45px 6px 25px;
}
.projects__slide_name {
  color: var(--white-color);
  font-size: 22px;
  font-weight: 600;
  line-height: 118.4%;
  letter-spacing: 0.44px;
}
.projects__pagination {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects__pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.projects__pagination ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 149, 81, 0.5);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.48px;
  text-align: center;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  width: 72px;
  height: 72px;
}
.projects__pagination ul a:hover {
  color: var(--main-green-color);
}
.projects__pagination ul a.active {
  border-radius: 50%;
  border: 1px solid var(--main-green-color);
  color: var(--main-green-color);
  pointer-events: none;
}

.project {
  overflow: hidden;
}
.project .h2 {
  font-size: 70px;
  padding-top: 43px;
  margin-bottom: 70px;
}
.project .about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project .about__content {
  margin-bottom: 120px;
}
.project__name {
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-green-color);
}
.project__addr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project__addr p {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-green-color);
}
.project__date {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
  color: var(--main-green-color);
}
.project__desc {
  border-top: 1px solid var(--dark-color);
  padding-top: 90px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}
.project__desc_text {
  width: 58.0357142857%;
}
.project__desc_title {
  text-transform: uppercase;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--main-green-color);
  width: 45%;
}
.project__desc_title-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project__desc_icon {
  font-size: 20px;
  font-weight: 400;
  line-height: 118.4%;
  letter-spacing: 0.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  color: rgba(32, 28, 38, 0.5);
}
.project__desc_icon img {
  width: 135px;
}
.project__gallery {
  border-top: 1px solid var(--dark-color);
  padding-top: 90px;
  position: relative;
}
.project__gallery .h4 {
  text-transform: uppercase;
  margin-bottom: 24px;
}
.project__slider {
  margin-top: 75px;
  overflow: visible;
}
.project__slider_pagination {
  position: relative;
  margin-top: 50px;
  text-align: center;
}
.project__slider_pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-green-color);
  background: none;
  opacity: 1;
}
.project__slider_pagination .swiper-pagination-bullet-active {
  background: var(--main-green-color);
}
.project__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  isolation: isolate;
  position: relative;
}
.project__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__slide::after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7) url(/img/icons/open-photo.svg) no-repeat center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.project__slide:hover::after {
  visibility: visible;
  opacity: 1;
}

.banner {
  width: 100%;
  height: auto;
  max-height: 545px;
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.present__row {
  width: 80.8854166667%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.present__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 790px;
  width: 34.7098214286%;
}
.present__images_item {
  width: 92%;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.present__images_item .scalable {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.present__images_item.item-1 {
  position: relative;
  -webkit-transform: rotate(-12.7deg);
          transform: rotate(-12.7deg);
  margin-left: 65px;
  top: 55px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.present__images_item.item-1.mouseover {
  -webkit-animation: move-1 0.5s;
          animation: move-1 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.present__images_item.item-1.mouseout {
  -webkit-animation: out-1 0.5s;
          animation: out-1 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.present__images_item.item-2 {
  position: relative;
  -webkit-transform: rotate(-3.8deg);
          transform: rotate(-3.8deg);
  z-index: 1;
  margin-left: 120px;
}
.present__images_item.item-2.mouseover {
  -webkit-animation: move-2 0.5s;
          animation: move-2 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.present__images_item.item-2.mouseout {
  -webkit-animation: out-2 0.5s;
          animation: out-2 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.present__images_item.item-3 {
  position: relative;
  -webkit-transform: rotate(11.3deg);
          transform: rotate(11.3deg);
  bottom: 45px;
}
.present__images_item.item-3.mouseover {
  -webkit-animation: move-3 0.5s;
          animation: move-3 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.present__images_item.item-3.mouseout {
  -webkit-animation: out-3 0.5s;
          animation: out-3 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.present__images_item:hover {
  -webkit-animation: move 2s;
          animation: move 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes move {
  0% {
    z-index: 1;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    z-index: 2;
    opacity: 1;
  }
}
@keyframes move {
  0% {
    z-index: 1;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    z-index: 2;
    opacity: 1;
  }
}
.present__text {
  width: 42.1875%;
}
.present__text p {
  padding-top: 61px;
  padding-bottom: 61px;
  border-top: 1px solid var(--main-green-color);
  border-bottom: 1px solid var(--main-green-color);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.present__text p:last-child {
  border-top: none;
}

.consultants {
  overflow-x: hidden;
}
.consultants__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.consultants__head_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.consultants__head_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
.consultants__head .sm-link {
  text-decoration: none;
  font-weight: 500;
}
.consultants__head .col button {
  width: 228px;
  height: 228px;
  cursor: pointer;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.consultants__head .col button svg {
  width: 100%;
  height: 100%;
}
.consultants__head .col button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.consultants__foot {
  margin-top: 118px;
}
.consultants__foot_slider {
  position: relative;
}
.consultants__slider {
  overflow: visible;
}
.consultants__slider_blur {
  position: absolute;
  width: 400px;
  height: 100px;
  right: -64px;
}
.consultants__slider_pagination {
  position: relative;
  margin-top: 55px;
}
.consultants__slider_pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-green-color);
  background: none;
  opacity: 1;
}
.consultants__slider_pagination .swiper-pagination-bullet-active {
  background: var(--main-green-color);
}
.consultants__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.consultants__slide_img {
  border-radius: 50%;
  width: 190px;
  overflow: hidden;
  isolation: isolate;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.consultants__slide_name {
  font-family: var(--title-font);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 7px;
}
.consultants__slide_role {
  color: var(--main-green-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.consultants__slide_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.consultants__slide_contacts {
  margin-top: auto;
}
.consultants__slide_contacts p {
  color: rgba(30, 30, 30, 0.4);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.consultants__slide_contacts p a {
  text-decoration: none;
}

.advantages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__text {
  margin-bottom: 45px;
}
.advantages__img {
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;
  width: 54.6875%;
}
.advantages__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__list {
  width: 33.7611607143%;
}
.advantages__list.w-100 {
  width: 100%;
}
.advantages__list.upper {
  text-transform: uppercase;
}
.advantages__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--dark-color);
  font-size: 28px;
  font-weight: 600;
}
.advantages__item:first-child {
  padding-top: 0;
}
.advantages__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.field {
  padding-top: 140px;
  padding-bottom: 150px;
}
.field .h2 {
  margin-bottom: 25px;
}
.field .subtitle {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 54px;
}
.field__cards {
  gap: 28px;
}
.field__card {
  cursor: pointer;
  position: relative;
}
.field__card_img {
  width: 100%;
  height: 100%;
}
.field__card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.field__card:hover .field__card_title {
  color: var(--main-green-color);
}
.field__card_title {
  position: absolute;
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  bottom: 0;
  padding: 35px 20px;
  height: 140px;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}

.training .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.training__top {
  width: 100%;
  margin-bottom: 70px;
}
.training__top.training__text {
  position: static;
  width: 100%;
}
.training__text {
  position: sticky;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 57.8683035714%;
  font-size: 40px;
  font-weight: 400;
  line-height: 170.5%;
}
.training__text.small {
  width: 61.9419642857%;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}
.training__text.small p {
  margin-bottom: 10px;
}
.training__text.small .citate {
  font-weight: 300;
  width: 55%;
  margin-top: 35px;
}
.training__text_border {
  position: relative;
  border-bottom: 1px solid var(--dark-color);
  padding-bottom: 10px;
}
.training__text_border::after {
  content: "";
  position: absolute;
  width: 100%;
}
.training__more {
  margin-top: 60px;
}
.training__more_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.48px;
  color: var(--main-green-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.training__more_link svg path, .training__more_link svg circle {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.training__more_link:hover {
  color: #006235;
}
.training__more_link:hover svg path {
  fill: #006235;
}
.training__more_link:hover svg circle {
  stroke: #006235;
}
.training__img {
  width: 37.2767857143%;
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;
}
.training__img.sm {
  width: 32.5892857143%;
}

.services .h2 {
  margin-bottom: 150px;
}
.services__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 50px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  color: var(--dark-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  will-change: transform;
}
.services__card_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  border: 1px solid var(--main-green-color);
  height: 370px;
}
.services__card_img img {
  width: 60%;
}
.services__card_text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.services__card:hover {
  color: #006235;
  border-color: #006235;
  -webkit-transform: perspective(500px) translateZ(2px);
          transform: perspective(500px) translateZ(2px);
}

.numbers__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 140px;
}
.numbers__top img {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
.numbers__title {
  font-family: var(--title-font);
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  background: var(--white-color);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-top: 20px;
  padding-bottom: 20px;
}
.numbers__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.numbers__content_right {
  width: 60%;
}
.numbers__content_right .numbers__item:first-child {
  width: 40%;
}
.numbers__content_right .numbers__item:last-child {
  width: 45%;
}
.numbers__content_left {
  width: 28%;
}
.numbers__content_left .numbers__item_title {
  text-align: left;
}
.numbers__content_left .numbers__item_subtitle {
  text-align: left;
}
.numbers__content_left .numbers__item_text {
  text-align: left;
}
.numbers__item_title {
  color: #000;
  font-family: var(--title-font);
  font-size: 150px;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
  text-align: right;
}
.numbers__item_subtitle {
  color: #000;
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 600;
  line-height: 0.4;
  text-transform: uppercase;
  text-align: right;
}
.numbers__item_text {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 18px;
  padding-top: 5px;
  border-top: 1px solid var(--main-green-color);
}

.how-work__row {
  width: 88.28125%;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}
.how-work__row_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.how-work__row_list li {
  list-style: disc;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}
.how-work__row_list li::marker {
  color: var(--main-green-color);
}
.how-work__cards {
  margin-top: 100px;
  border-bottom: 1px solid var(--dark-color);
}
.how-work__card {
  width: 33.3333333333%;
  border-top: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);
  padding: 40px 35px 55px 64px;
}
.how-work__card:nth-child(3n) {
  border-right: none;
  padding: 40px 64px 55px 35px;
}
.how-work__card_title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  min-height: 90px;
  gap: 10px;
}
.how-work__card_num {
  color: var(--main-green-color);
  font-weight: 500;
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 149, 81, 0.2);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.how-work__card_text {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}

.partners {
  overflow-x: hidden;
}
.partners__slider {
  overflow: visible;
}
.partners__slider-container {
  position: relative;
  margin-top: 70px;
}
.partners__slider_blur {
  position: absolute;
  width: 400px;
  height: 100px;
  right: -64px;
}
.partners__slider_pagination {
  position: relative;
  margin-top: 55px;
  text-align: center;
}
.partners__slider_pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-green-color);
  background: none;
  opacity: 1;
}
.partners__slider_pagination .swiper-pagination-bullet-active {
  background: var(--main-green-color);
}
.partners__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 68px 80px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.72px;
  text-align: center;
}

.presentation__container {
  position: relative;
  padding: 72px 62px 80px;
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;
  width: 100%;
  border: 1px solid var(--main-green-color);
}
.presentation_circle {
  position: absolute;
  width: 58.8169642857%;
  height: 0;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(12%) translateY(23%);
  transform: translateX(12%) translateY(23%);
  padding-bottom: 50%;
  background: #fff;
}
.presentation__img {
  position: absolute;
  width: 71.5401785714%;
  right: 0;
  bottom: 0;
}
.presentation__content {
  width: 33.6495535714%;
}
.presentation__content .h3 {
  margin-bottom: 24px;
}
.presentation__content .subtitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
  margin-bottom: 46px;
}
.presentation__content .btn {
  background: none;
  border: 1px solid #fff;
}
.presentation__content .btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.feedback__content {
  padding: 107px 140px 60px;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, color-stop(43.72%, rgba(0, 0, 0, 0.65)), color-stop(59.54%, rgba(0, 0, 0, 0))), url(../img/feegback.png), lightgray 0px -246.5px/100% 134.221% no-repeat;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.65) 43.72%, rgba(0, 0, 0, 0) 59.54%), url(../img/feegback.png), lightgray 0px -246.5px/100% 134.221% no-repeat;
  background-size: cover;
}
.feedback__content_form {
  width: 50%;
  margin-left: auto;
}
.feedback__form_fields {
  width: 85%;
  max-width: 513px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}
.feedback__form_label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feedback__form_label input, .feedback__form_label textarea {
  width: 100%;
  padding: 18px 22px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.feedback__form_label input::-webkit-input-placeholder, .feedback__form_label textarea::-webkit-input-placeholder {
  color: var(--white-color);
}
.feedback__form_label input::-moz-placeholder, .feedback__form_label textarea::-moz-placeholder {
  color: var(--white-color);
}
.feedback__form_label input:-ms-input-placeholder, .feedback__form_label textarea:-ms-input-placeholder {
  color: var(--white-color);
}
.feedback__form_label input::-ms-input-placeholder, .feedback__form_label textarea::-ms-input-placeholder {
  color: var(--white-color);
}
.feedback__form_label input::placeholder, .feedback__form_label textarea::placeholder {
  color: var(--white-color);
}
.feedback__form_agree {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}
.feedback__form_agree input {
  visibility: hidden;
  width: 0;
}
.feedback__form_agree a {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.feedback__form_agree a:hover {
  text-decoration: underline;
}

.news {
  overflow-x: hidden;
}
.news .h2 {
  margin-bottom: 72px;
}
.news__grid {
  display: grid;
  width: 100%;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fill, minmax(360px, auto));
  gap: 52px;
}
.news__slider {
  overflow: visible;
}
.news__slider_pagination {
  position: relative;
  margin-top: 55px;
  text-align: center;
}
.news__slider_pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-green-color);
  background: none;
  opacity: 1;
}
.news__slider_pagination .swiper-pagination-bullet-active {
  background: var(--main-green-color);
}
.news__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 18px;
  border-radius: 10px;
  gap: 32px;
}
.news__slide_img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10.19%, rgba(0, 0, 0, 0.3)), color-stop(80.34%, rgba(0, 0, 0, 0))), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 10.19%, rgba(0, 0, 0, 0) 80.34%), url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.news__slide_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: 100%;
     object-fit: 100%;
}
.news__slide_img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.news__slide_content {
  min-height: 290px;
  border-bottom: 1px solid var(--white-color);
}
.news__slide_title {
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}
.news__slide_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  padding-bottom: 20px;
}
.news__slide_bottom {
  padding-top: 17px;
  padding-bottom: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}
.news__slide_link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}

.map {
  width: 100%;
  height: 816px;
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;
}

.contacts__content {
  position: relative;
}
.contacts__content_block {
  position: absolute;
  padding: 65px 70px 48px;
  background: var(--white-color);
  z-index: 1;
  top: 70px;
  left: 70px;
}
.contacts .h3 {
  margin-bottom: 56px;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  color: #000;
  font-family: var(--title-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.5%;
}
.contacts__item a {
  color: var(--main-green-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.contacts__item a:hover {
  color: rgba(0, 149, 81, 0.8);
  text-decoration: underline;
}
.contacts__item a:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.calc__list {
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
  gap: 60px 105px;
}
.calc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  width: calc(16.6666666667% - 90px);
}
.calc__form-container {
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;
}
.calc__form_table {
  border-radius: 10px;
  overflow: auto;
  isolation: isolate;
}
.calc__form_table-container {
  overflow-x: auto;
}
.calc__table {
  border-collapse: collapse;
  width: 100%;
  min-width: 700px;
}
.calc__table_head {
  background: #E9ECEF;
}
.calc__table_head th {
  padding: 40px 20px 30px;
  text-align: left;
  font-family: var(--title-font);
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.calc__table_head th:first-child {
  width: 60%;
  padding: 40px 50px 30px;
}
.calc__table_head th:last-child {
  padding: 40px 40px 30px 20px;
}
.calc__table_body {
  background: var(--white-color);
}
.calc__table_body td {
  padding: 40px 20px 30px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}
.calc__table_body td:first-child {
  width: 60%;
  padding: 40px 50px 30px;
  text-align: left;
}
.calc__table_body td:last-child {
  padding: 40px 40px 30px 20px;
  border-bottom: none;
}
.calc__table_body td .numb {
  width: 100%;
  padding: 15px;
  background: #E9ECEF;
  border-radius: 12px;
  -moz-appearance: textfield;
}
.calc__table_body td .numb::-webkit-outer-spin-button, .calc__table_body td .numb::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.calc__table_body td .numb::outer {
  display: none;
}
.calc__table_body td .numb-label {
  width: 85px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calc__table_body td .numb-btns {
  position: absolute;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calc__table_body td .numb-btns span {
  width: 15px;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.calc__table_body td .numb-btns span svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.calc__table_item-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 25px;
}
.calc__table_title {
  width: 100%;
  padding: 20px 50px;
  background: #DADDE0;
  font-family: var(--title-font);
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
.calc__table_row:not(:last-child) {
  border-bottom: 1px solid #DADDE0;
}
.calc__table_foot {
  background: #DADDE0;
}
.calc__table_foot td {
  width: 100%;
  padding: 20px 50px;
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.calc__table_foot .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
}