@media (max-width: 1240px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
  :root {
    --gap: 100px;
  }
  .h2 {
    font-size: 44px;
  }
  .btn {
    font-size: 14px;
    padding: 15px 50px;
  }
  .link {
    font-size: 17px;
  }
  .footer-phone-link {
    font-size: 35px;
  }
  .footer-email-link {
    font-size: 30px;
  }
  .false-phone-link {
    display: none;
  }
  .phone-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .head {
    padding: 21px 48px 20px;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    gap: 25px;
  }
  .head_fixed {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .head__left {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .head_logo {
    width: 145px;
  }
  .head__nav_list {
    display: none;
  }
  .head .head__right {
    margin-left: auto;
  }
  .head__search_input {
    width: 270px;
    font-size: 16px;
    padding: 5px 0;
    border-bottom-width: 1px;
  }
  .head__search .search-btn {
    width: 20px;
    height: 20px;
  }
  .head__search .search-btn svg {
    width: 100%;
    height: 100%;
  }
  .foot {
    padding: 60px 48px 60px;
  }
  .foot__top {
    padding-bottom: 60px;
  }
  .foot__bottom {
    padding-top: 60px;
  }
  .foot__bottom_list {
    max-height: 320px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .foot__bottom_scroll {
    position: fixed;
    right: 48px;
    bottom: 55px;
    z-index: 101;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .foot__contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .foot__contacts_scls {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .fs {
    min-height: 680px;
    max-height: 750px;
  }
  .fs__slider .swiper-pagination-bullet {
    height: 33px;
  }
  .fs__slider_pagination {
    top: 97px !important;
    left: 48px !important;
  }
  .fs__slide_title {
    padding: 1px 0 90px 48px;
  }
  .fs__slide_content h1 {
    font-size: 54px;
    line-height: normal;
    margin-top: 105px;
  }
  .fs__slide_text p {
    font-size: 14px;
  }
  .fs__slide_decor {
    width: 50%;
  }
  .field__card_title {
    font-size: 18px;
    padding: 18px 16px;
    height: 70px;
  }
  .partners__slide {
    padding: 48px 28px 44px;
    font-size: 14px;
  }
  .partners__slide img {
    width: 135px;
  }
}
@media (max-width: 1200px) {
  .h2 {
    font-size: 40px;
  }
  .h3 {
    font-size: 30px;
  }
  .h4 {
    font-size: 28px;
  }
  .text {
    font-size: 14px;
  }
  .text p:not(:last-child) {
    margin-bottom: 16px;
  }
  .subtitle {
    font-size: 20px;
  }
  .dark-link {
    font-size: 20px;
  }
  .foot__nav_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumbs {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .breadcrumbs__list {
    gap: 15px;
  }
  .breadcrumbs__item {
    gap: 15px;
    font-size: 16px;
  }
  .about .h2 {
    margin-bottom: 25px;
  }
  .about__content {
    gap: 30px;
  }
  .about__top {
    gap: 50px;
  }
  .about__top .role {
    font-size: 18px;
  }
  .about__top .h3 {
    font-size: 28px;
  }
  .about__img.wide {
    width: 60%;
  }
  .about__quoting .before {
    margin-bottom: 24px;
    width: 60px;
    height: 60px;
  }
  .about__quoting .after {
    margin-top: 10px;
    width: 60px;
    height: 60px;
  }
  .about__quoting p {
    font-size: 16px;
  }
  .about__quoting_title {
    font-size: 20px;
  }
  .about__text blockquote {
    font-size: 16px;
  }
  .about__text_bottom {
    padding-left: 0;
  }
  .directions .h4 {
    margin-bottom: 50px;
  }
  .directions__slide_title {
    font-size: 18px;
  }
  .directions__slide_text {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .first .h2 {
    margin-bottom: 50px;
  }
  .first__content {
    gap: 50px;
  }
  .first__text {
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .first__text_title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .first__text ul {
    width: 100%;
    padding: 30px 50px 0 15px;
    border-top: 2px solid var(--main-green-color);
    font-size: 16px;
    gap: 15px;
  }
  .team .h2 {
    margin-bottom: 50px;
  }
  .team__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
  .team__slide_content {
    width: 100%;
  }
  .team__slide_name {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .team__slide_role {
    font-size: 16px;
  }
  .projects .h2 {
    margin-bottom: 50px;
  }
  .projects__slide_content {
    padding: 25px 20px;
  }
  .projects__slide_icon {
    padding: 5px 25px 5px 15px;
  }
  .projects__slide_icon img {
    width: 100px;
  }
  .projects__slide_name {
    font-size: 16px;
  }
  .projects h1 {
    padding-top: 20px;
  }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-auto-flow: row;
    gap: 15px;
  }
  .projects__grid_item:nth-child(3) {
    grid-row: span 2;
  }
  .projects__grid_item:last-child {
    grid-column: span 2;
  }
  .projects__pagination {
    margin-top: 30px;
  }
  .projects__pagination ul a {
    font-size: 20px;
    width: 60px;
    height: 60px;
  }
  .project .h2 {
    font-size: 50px;
    padding-top: 25px;
    margin-bottom: 45px;
  }
  .project .about__text {
    gap: 40px;
  }
  .project .about__content {
    margin-bottom: 60px;
  }
  .project__name {
    font-size: 18px;
  }
  .project__addr p {
    font-size: 16px;
  }
  .project__date {
    font-size: 16px;
  }
  .project__desc {
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 40px;
  }
  .project__desc_title {
    width: 70%;
  }
  .project__desc_icon {
    margin-top: 15px;
    font-size: 16px;
    gap: 5px;
  }
  .project__gallery {
    padding-top: 70px;
  }
  .project__slider {
    margin-top: 60px;
  }
  .present__row {
    width: 100%;
    max-width: 800px;
  }
  .present__text {
    width: 45%;
  }
  .present__text p {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .consultants__foot {
    display: none;
  }
  .consultants__head .col button {
    width: 118px;
    height: 118px;
  }
  .advantages__list {
    width: 40.9482758621%;
  }
  .advantages__img {
    width: 45.7974137931%;
  }
  .advantages__item {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .field {
    padding-top: 60px;
    padding-bottom: 105px;
  }
  .field .h2 {
    margin-bottom: 20px;
  }
  .field .subtitle {
    font-size: 14px;
    margin-bottom: 45px;
  }
  .field__cards {
    gap: 13px;
  }
  .field__card_title {
    font-size: 16px;
    padding: 16px 12px;
    height: 60px;
  }
  .training__top {
    margin-bottom: 40px;
  }
  .training__text {
    font-size: 20px;
  }
  .training__text.small {
    font-size: 14px;
  }
  .training__text.small .citate {
    margin-top: 20px;
    width: 90%;
  }
  .training__text_border {
    padding-bottom: 0px;
  }
  .training__more {
    margin-top: 20px;
  }
  .training__more_link {
    font-size: 14px;
  }
  .training__more_link svg {
    width: 45px;
    height: 45px;
  }
  .services .h2 {
    margin-bottom: 70px;
  }
  .services__content {
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    gap: 40px 25px;
  }
  .services__card_img {
    height: 300px;
  }
  .services__card_text {
    font-size: 16px;
  }
  .numbers__top {
    margin-bottom: 80px;
  }
  .numbers__title {
    font-size: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .numbers__content_right {
    width: 60%;
  }
  .numbers__content_right .numbers__item:first-child {
    width: 40%;
  }
  .numbers__content_right .numbers__item:last-child {
    width: 45%;
  }
  .numbers__content_left {
    width: 28%;
  }
  .numbers__content_left .numbers__item_title {
    text-align: left;
  }
  .numbers__content_left .numbers__item_subtitle {
    text-align: left;
  }
  .numbers__content_left .numbers__item_text {
    text-align: left;
  }
  .numbers__item_title {
    font-size: 98px;
  }
  .numbers__item_subtitle {
    font-size: 18px;
  }
  .numbers__item_text {
    font-size: 14px;
    margin-top: 10px;
    padding-top: 5px;
  }
  .how-work__row {
    width: 100%;
  }
  .how-work__row_title {
    padding-left: 48px;
  }
  .how-work__row_list {
    gap: 10px;
  }
  .how-work__row_list li {
    font-size: 14px;
  }
  .how-work__cards {
    margin-top: 40px;
  }
  .how-work__card {
    width: 50%;
    padding: 30px 30px 45px 48px;
  }
  .how-work__card:nth-child(3) {
    border-right: 1px solid var(--dark-color);
    padding: 30px 30px 45px 48px;
  }
  .how-work__card:nth-child(2n) {
    border-right: none;
    padding: 30px 48px 45px 30px;
  }
  .how-work__card_title {
    font-size: 22px;
  }
  .how-work__card_num {
    width: 55px;
    height: 55px;
  }
  .how-work__card_text {
    font-size: 14px;
  }
  .presentation .h3 {
    margin-bottom: 20px;
  }
  .presentation__container {
    padding: 50px 42px 50px;
  }
  .presentation_circle {
    -webkit-transform: translateX(25%) translateY(26%);
            transform: translateX(25%) translateY(26%);
  }
  .presentation__img {
    bottom: 20px;
  }
  .presentation .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .feedback__content {
    padding: 60px 74px 60px;
    border-radius: 15px;
  }
  .feedback__form_fields {
    gap: 10px;
  }
  .feedback__form_label input, .feedback__form_label textarea {
    padding: 12px 22px;
    font-size: 14px;
  }
  .feedback__form_agree {
    font-size: 13px;
  }
  .news .h2 {
    margin-bottom: 45px;
  }
  .news__slide {
    padding: 12px 13px;
    gap: 15px;
  }
  .news__slide_title {
    font-size: 16px;
  }
  .news__slide_text {
    font-size: 14px;
  }
  .news__slide_content {
    min-height: 200px;
  }
  .news__slide_bottom {
    font-size: 12px;
  }
  .mobile__head {
    padding-bottom: 20px;
  }
  .mobile__body {
    padding-top: 30px;
  }
  .mobile__body .container {
    gap: 30px;
  }
  .mobile .logo {
    width: 145px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__close_btn {
    width: 40px;
    height: 40px;
  }
  .mobile__close_btn svg {
    width: 20px;
    height: 20px;
  }
  .mobile__nav_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .mobile__nav_center {
    width: 78.125%;
  }
  .mobile__nav_center ul {
    gap: 20px;
  }
  .mobile__nav_center ul li button {
    font-size: 24px;
  }
  .mobile__nav_top {
    width: 75.3348214286%;
  }
  .mobile__nav_top ul {
    gap: 15px 50px;
  }
  .mobile__nav_top ul li a {
    padding-right: 10px;
    font-size: 24px;
  }
  .mobile__nav_top ul li a:hover {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mobile__nav_bottom {
    width: 75.3348214286%;
  }
  .mobile__nav_bottom ul {
    gap: 40px 160px;
  }
  .mobile__nav_bottom ul li a {
    font-size: 24px;
  }
  .mobile__foot {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .mobile__foot_contacts ul {
    font-size: 14px;
  }
  .submenu__head {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .submenu__title {
    font-size: 24px;
  }
  .submenu__close_btn {
    font-size: 14px;
  }
  .submenu__close_btn svg {
    width: 38px;
    height: 38px;
  }
  .submenu__img {
    width: 36.5010799136%;
  }
  .submenu__nav {
    width: 61.3839285714%;
  }
  .submenu__nav_list {
    gap: 20px;
  }
  .submenu__body {
    padding-bottom: 40px;
  }
}