@media (max-width: 850px) {
  .advantages .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
  .advantages__list {
    width: 100%;
  }
  .advantages__img {
    width: 100%;
  }
  .advantages__item {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
  :root {
    --gap: 60px;
  }
  .footer-phone-link {
    font-size: 35px;
  }
  .footer-email-link {
    font-size: 30px;
  }
  .false-phone-link {
    display: none;
  }
  .sm-link {
    font-size: 17px;
  }
  .head {
    padding: 21px 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .head__left {
    width: auto;
  }
  .head__feedback {
    display: none;
  }
  .head-fixed .head__bottom {
    display: none;
  }
  .head-fixed .head__center {
    margin-left: auto;
  }
  .head-fixed .head__right {
    margin-left: 0;
  }
  .head-fixed .false-phone-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: 0;
  }
  .head__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
    width: 100%;
  }
  .head__bottom .head__feedback {
    display: block;
  }
  .head__bottom .phone-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .foot {
    padding: 50px 35px 50px;
  }
  .foot__top {
    display: none;
  }
  .foot__logo {
    width: 280px;
  }
  .foot__bottom {
    padding-top: 0;
  }
  .foot__bottom_scroll {
    right: 35px;
  }
  .foot__bottom_scroll-btn {
    width: 50px;
    height: 50px;
  }
  .foot__bottom_scroll-btn svg {
    width: 100%;
  }
  .foot__bottom_list {
    max-height: 1000px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot__bottom_recall {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .foot__links {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .foot__copyrait {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .fs {
    min-height: 700px;
  }
  .fs__slider .swiper-pagination-bullet {
    height: 25px;
  }
  .fs__slider_pagination {
    top: 160px !important;
    left: 35px !important;
  }
  .fs__slide_content h1 {
    margin-top: 160px;
    font-size: 48px;
  }
  .fs__slide_content h1 .line:nth-child(1) {
    margin-left: 40px;
    white-space: nowrap;
  }
  .fs__slide_content h1 .line:nth-child(3) {
    margin-left: 120px;
    white-space: nowrap;
  }
  .fs__slide_content h1 .line:nth-child(5) {
    margin-left: 0px;
    white-space: nowrap;
  }
  .fs__slide_title {
    padding: 1px 0 60px 35px;
    width: 30%;
  }
  .fs__slide_text {
    width: calc(70% + 1px);
  }
  .about {
    padding-top: 20px;
  }
  .about__top {
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__top .role {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .about__top .h3 {
    font-size: 26px;
  }
  .about__img {
    border-radius: 10px;
  }
  .about__img.wide {
    width: 100%;
  }
  .about__quoting {
    margin-top: 20px;
  }
  .about__quoting .before {
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
  }
  .about__quoting .after {
    margin-top: 0px;
    width: 40px;
    height: 40px;
  }
  .about__quoting p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .about__quoting_title {
    font-size: 20px;
  }
  .first .h2 {
    margin-bottom: 40px;
  }
  .first__content {
    gap: 30px;
    display: flow-root;
  }
  .first__img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .first__text {
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .first__text_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .first__text ul {
    width: 100%;
    padding: 20px 50px 0 15px;
    border-top: 2px solid var(--main-green-color);
    font-size: 16px;
    gap: 15px;
  }
  .team .h2 {
    margin-bottom: 40px;
  }
  .team__slide {
    gap: 20px;
  }
  .team__slide_name {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .team__slide_role {
    font-size: 16px;
  }
  .present__row {
    gap: 50px;
  }
  .present__images {
    width: 80%;
    max-height: 3000px;
  }
  .present__images_item.item-3 {
    margin-left: 40px;
  }
  .present__text {
    width: 100%;
  }
  .present__text p {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .consultants__head {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .consultants__head_contacts {
    gap: 10px 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feed {
    margin-top: 45px;
    margin-bottom: 80px;
  }
  .training__text {
    font-size: 16px;
    width: 64.1741071429%;
  }
  .training__more {
    margin-top: 10px;
  }
  .training__more_link {
    font-size: 14px;
  }
  .training__more_link svg {
    width: 45px;
    height: 45px;
  }
  .training__img {
    width: 30.6919642857%;
    border-radius: 10px;
    overflow: hidden;
    isolation: isolate;
  }
  .how-work__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .how-work__row_title {
    padding-left: 0px;
  }
  .how-work__row_list {
    padding-left: 20px;
    gap: 15px;
  }
  .how-work__row_list li {
    font-size: 16px;
  }
  .partners__slider_pagination {
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
  }
  .presentation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 170px;
  }
  .presentation__content {
    width: 80%;
  }
  .presentation__content_bottom .btn svg {
    width: 20px;
    height: 20px;
  }
  .presentation_circle {
    width: 480px;
    padding-bottom: 0;
    height: 480px;
    -webkit-transform: translateX(37%) translateY(50%);
            transform: translateX(37%) translateY(50%);
  }
  .presentation__img {
    width: 80%;
  }
  .feedback__content {
    padding: 55px 40px 55px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(27.75%, rgba(0, 0, 0, 0.65)), color-stop(99.99%, rgba(0, 0, 0, 0))), url(../img/feegback.png), lightgray -20px -246.5px/460.668% 182.056% no-repeat;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 27.75%, rgba(0, 0, 0, 0) 99.99%), url(../img/feegback.png), lightgray -20px -246.5px/460.668% 182.056% no-repeat;
  }
  .feedback__content_form {
    width: 100%;
    margin-left: 0;
  }
  .feedback__form_fields {
    width: 100%;
  }
  .feedback__form_label input, .feedback__form_label textarea {
    font-size: 16px;
  }
  .feedback__form_agree {
    font-size: 14px;
  }
  .news__slide_title {
    font-size: 20px;
  }
  .news__slide_content {
    min-height: 200px;
  }
  .news__slide_bottom {
    font-size: 14px;
  }
  .mobile__head .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mobile__head_left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px 30px;
  }
  .mobile__body {
    padding-top: 20px;
  }
  .mobile__body .container {
    gap: 30px;
  }
  .mobile .logo {
    width: 145px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__close_btn {
    width: 40px;
    height: 40px;
  }
  .mobile__close_btn svg {
    width: 20px;
    height: 20px;
  }
  .mobile__nav_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .mobile__nav_center ul {
    gap: 10px;
  }
  .mobile__nav_center ul li button {
    font-size: 18px;
  }
  .mobile__nav_top {
    width: 100%;
  }
  .mobile__nav_top ul {
    gap: 15px 30px;
  }
  .mobile__nav_top ul li a {
    padding-right: 10px;
    font-size: 18px;
  }
  .mobile__nav_top ul li a:hover {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mobile__nav_bottom {
    width: 100%;
  }
  .mobile__nav_bottom ul li a {
    font-size: 18px;
  }
  .mobile__foot {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .mobile__foot .container {
    gap: 30px;
  }
  .mobile__foot_contacts {
    width: 100%;
  }
  .mobile__foot_contacts ul {
    font-size: 16px;
    gap: 10px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dark-link {
    font-size: 16px;
  }
  .submenu__head {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .submenu__title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 20px;
    gap: 7px;
  }
  .submenu__title img {
    width: 18px;
    height: 18px;
  }
  .submenu__close_btn {
    font-size: 14px;
  }
  .submenu__close_btn svg {
    width: 38px;
    height: 38px;
  }
  .submenu__img {
    display: none;
  }
  .submenu__nav {
    width: 100%;
  }
  .submenu__nav_list {
    gap: 15px;
  }
  .submenu__body {
    padding-bottom: 30px;
    padding-top: 20px;
  }
}