@media (max-width: 991px) {
  :root {
    --gap: 80px;
  }
  .footer-phone-link {
    font-size: 30px;
  }
  .footer-email-link {
    font-size: 26px;
  }
  .sm-link {
    font-size: 15px;
  }
  .false-phone-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
  }
  .phone-link {
    display: none;
  }
  .head__left {
    width: 100%;
  }
  .foot {
    padding: 50px 48px 50px;
  }
  .foot__top {
    padding-bottom: 50px;
  }
  .foot__bottom {
    border-top: 50px;
  }
  .foot__logo {
    width: 250px;
  }
  .fs {
    min-height: 640px;
  }
  .fs__slider .swiper-pagination-bullet {
    height: 28px;
  }
  .fs__slider_pagination {
    top: 90px !important;
    left: 48px !important;
  }
  .fs__slide_title {
    width: 40%;
    padding: 1px 0 75px 48px;
  }
  .fs__slide_text {
    width: calc(60% + 1px);
  }
  .fs__slide_content h1 {
    font-size: 50px;
    margin-top: 100px;
  }
  .present__row {
    width: 100%;
    max-width: 800px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .present__text {
    width: 45%;
  }
  .present__text p {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .advantages__list {
    width: 48.4913793103%;
  }
  .advantages__img {
    width: 45.7974137931%;
  }
  .advantages__item {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .field {
    padding-top: 55px;
    padding-bottom: 90px;
  }
  .field__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .field__card {
    width: calc(50% - 8px);
  }
  .field__card_title {
    font-size: 20px;
    padding: 20px 18px;
    height: 80px;
  }
  .training__text {
    font-size: 18px;
  }
  .training__text_border {
    padding-bottom: 0px;
  }
  .how-work__row_title {
    padding-left: 0px;
  }
  .presentation_circle {
    -webkit-transform: translateX(30%) translateY(20%);
            transform: translateX(30%) translateY(20%);
  }
  .feedback__content {
    padding: 55px 60px 55px;
  }
  .feedback__content_form {
    width: 70%;
    margin-left: 0;
  }
  .feedback__form_label input, .feedback__form_label textarea {
    font-size: 16px;
  }
  .feedback__form_agree {
    font-size: 14px;
  }
}