@media (max-width: 991px) {
  :root {
    --gap: 80px;
  }
  .footer-phone-link {
    font-size: 30px;
  }
  .footer-email-link {
    font-size: 26px;
  }
  .sm-link {
    font-size: 15px;
  }
  .false-phone-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
  }
  .phone-link {
    display: none;
  }
  .head__left {
    width: 100%;
  }
  .head__search {
    margin-left: 0;
  }
  .head__search_input {
    width: 200px;
    font-size: 16px;
    padding: 5px 0;
    border-bottom-width: 1px;
  }
  .head__search .search-btn {
    width: 20px;
    height: 20px;
  }
  .head__search .search-btn svg {
    width: 100%;
    height: 100%;
  }
  .foot {
    padding: 50px 48px 50px;
  }
  .foot__top {
    padding-bottom: 50px;
  }
  .foot__bottom {
    border-top: 50px;
  }
  .foot__logo {
    width: 250px;
  }
  .breadcrumbs {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .breadcrumbs__list {
    gap: 12px;
  }
  .breadcrumbs__item {
    gap: 12px;
    font-size: 14px;
  }
  .fs {
    min-height: 640px;
  }
  .fs__slider .swiper-pagination-bullet {
    height: 28px;
  }
  .fs__slider_pagination {
    top: 90px !important;
    left: 48px !important;
  }
  .fs__slide_title {
    width: 40%;
    padding: 1px 0 75px 48px;
  }
  .fs__slide_text {
    width: calc(60% + 1px);
  }
  .fs__slide_content h1 {
    font-size: 50px;
    margin-top: 100px;
  }
  .about__top {
    gap: 30px;
  }
  .about__top .role {
    font-size: 18px;
  }
  .about__top .h3 {
    font-size: 26px;
  }
  .about__img {
    width: 40%;
  }
  .about__img.wide {
    width: 55%;
  }
  .about__quoting .before {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
  .about__quoting .after {
    margin-top: 0px;
    width: 50px;
    height: 50px;
  }
  .about__quoting p {
    font-size: 16px;
  }
  .about__quoting_title {
    font-size: 20px;
  }
  .directions .h4 {
    margin-bottom: 40px;
  }
  .directions__slide_img {
    width: 30.612244898%;
  }
  .directions__slide_text {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .first .h2 {
    margin-bottom: 50px;
  }
  .first__content {
    gap: 30px;
  }
  .first__text {
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .first__text_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .first__text ul {
    width: 100%;
    padding: 20px 50px 0 15px;
    border-top: 2px solid var(--main-green-color);
    font-size: 16px;
    gap: 15px;
  }
  .team .h2 {
    margin-bottom: 45px;
  }
  .team__slide {
    gap: 20px;
  }
  .team__slide_name {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .team__slide_role {
    font-size: 16px;
  }
  .present__row {
    width: 100%;
    max-width: 800px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .present__text {
    width: 45%;
  }
  .present__text p {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .advantages__list {
    width: 48.4913793103%;
  }
  .advantages__img {
    width: 45.7974137931%;
  }
  .advantages__item {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .field {
    padding-top: 55px;
    padding-bottom: 90px;
  }
  .field__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .field__card {
    width: calc(50% - 8px);
  }
  .field__card_title {
    font-size: 20px;
    padding: 20px 18px;
    height: 80px;
  }
  .training__top {
    margin-bottom: 30px;
  }
  .training__text {
    font-size: 18px;
  }
  .training__text_border {
    padding-bottom: 0px;
  }
  .services .h2 {
    margin-bottom: 40px;
  }
  .services__content {
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    gap: 40px 25px;
  }
  .services__card_img {
    height: 300px;
  }
  .services__card_text {
    font-size: 16px;
  }
  .numbers__top {
    margin-bottom: 50px;
  }
  .numbers__title {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .numbers__title img {
    width: 95%;
  }
  .numbers__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }
  .numbers__content_right {
    width: 100%;
  }
  .numbers__content_right .numbers__item:first-child {
    width: 40%;
  }
  .numbers__content_right .numbers__item:last-child {
    width: 45%;
  }
  .numbers__content_left {
    width: 40%;
  }
  .numbers__content_left .numbers__item_title {
    text-align: left;
  }
  .numbers__content_left .numbers__item_subtitle {
    text-align: left;
  }
  .numbers__content_left .numbers__item_text {
    text-align: left;
  }
  .numbers__item_title {
    font-size: 80px;
  }
  .numbers__item_subtitle {
    font-size: 16px;
  }
  .numbers__item_text {
    font-size: 14px;
    margin-top: 10px;
    padding-top: 5px;
  }
  .how-work__row_title {
    padding-left: 0px;
  }
  .how-work__cards {
    margin-top: 40px;
  }
  .how-work__card {
    width: 50%;
    padding: 30px 30px 45px 48px;
  }
  .how-work__card:nth-child(3) {
    border-right: 1px solid var(--dark-color);
    padding: 30px 30px 45px 48px;
  }
  .how-work__card:nth-child(2n) {
    border-right: none;
    padding: 30px 48px 45px 30px;
  }
  .how-work__card_title {
    font-size: 20px;
  }
  .how-work__card_num {
    width: 55px;
    height: 55px;
  }
  .how-work__card_text {
    font-size: 14px;
  }
  .presentation_circle {
    -webkit-transform: translateX(30%) translateY(20%);
            transform: translateX(30%) translateY(20%);
  }
  .feedback__content {
    padding: 55px 60px 55px;
  }
  .feedback__content_form {
    width: 70%;
    margin-left: 0;
  }
  .feedback__form_label input, .feedback__form_label textarea {
    font-size: 16px;
  }
  .feedback__form_agree {
    font-size: 14px;
  }
  .news__slide_title {
    font-size: 18px;
  }
  .news__slide_text {
    font-size: 16px;
  }
  .news__slide_content {
    min-height: 200px;
  }
  .news__slide_bottom {
    font-size: 13px;
  }
  .mobile__bg {
    display: none;
  }
  .mobile__head {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .mobile__head_left {
    gap: 40px;
  }
  .mobile__body {
    padding-top: 20px;
  }
  .mobile__body .container {
    gap: 30px;
  }
  .mobile .logo {
    width: 145px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__close_btn {
    width: 40px;
    height: 40px;
  }
  .mobile__close_btn svg {
    width: 20px;
    height: 20px;
  }
  .mobile__nav_title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mobile__nav_center ul {
    gap: 10px;
  }
  .mobile__nav_center ul li button {
    font-size: 20px;
  }
  .mobile__nav_top {
    width: 100%;
  }
  .mobile__nav_top ul {
    gap: 15px 30px;
  }
  .mobile__nav_top ul li a {
    padding-right: 10px;
    font-size: 20px;
  }
  .mobile__nav_top ul li a:hover {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mobile__nav_bottom {
    width: 100%;
  }
  .mobile__nav_bottom ul {
    gap: 20px 50px;
  }
  .mobile__nav_bottom ul li a {
    font-size: 20px;
  }
  .mobile__foot {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .mobile__foot .container {
    gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mobile__foot_contacts {
    width: 100%;
  }
  .mobile__foot_contacts ul {
    font-size: 16px;
    gap: 15px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dark-link {
    font-size: 18px;
  }
  .submenu__head {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .submenu__title {
    font-size: 22px;
  }
  .submenu__close_btn {
    font-size: 14px;
  }
  .submenu__close_btn svg {
    width: 38px;
    height: 38px;
  }
  .submenu__nav_list {
    gap: 15px;
  }
  .submenu__body {
    padding-bottom: 40px;
  }
}