@media (max-width: 1650px) {
  .h2 {
    font-size: 70px;
  }
  .h3 {
    font-size: 48px;
  }
  .h4 {
    font-size: 38px;
  }
  .h5 {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.44px;
  }
  .dark-link {
    font-size: 28px;
  }
  .head__left {
    gap: 50px;
  }
  .head__nav_list {
    gap: 30px;
  }
  .head__search_input {
    width: 500px;
  }
  .mobile__nav_center ul li a {
    font-size: 36px;
  }
  .mobile__nav_top ul {
    gap: 15px 55px;
  }
  .mobile__nav_top ul li a {
    padding-right: 30px;
    font-size: 36px;
  }
  .mobile__nav_top ul li a:hover {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile__nav_bottom ul {
    gap: 60px 200px;
  }
  .mobile__nav_bottom ul li button {
    font-size: 36px;
  }
  .mobile__foot {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .mobile__foot_contacts ul {
    font-size: 20px;
  }
  .about__top .role {
    font-size: 24px;
  }
  .about__top .h3 {
    font-size: 40px;
  }
  .about__quoting .before {
    margin-bottom: 30px;
    width: 75px;
  }
  .about__quoting .after {
    margin-top: 30px;
    width: 75px;
  }
  .about__quoting p {
    font-size: 20px;
  }
  .about__quoting_title {
    font-size: 24px;
  }
  .about__text_list {
    font-size: 20px;
  }
  .about__text_points {
    font-size: 19px;
    gap: 18px;
    width: 90%;
  }
  .about__services_block {
    padding-top: 95px;
    padding-bottom: 110px;
  }
  .about__services_block .h2 {
    margin-bottom: 65px;
  }
  .about__services_item {
    padding-right: 40px;
  }
  .about__services_item a {
    font-size: 48px;
  }
  .about__desc {
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about__desc_bottom {
    margin-top: 55px;
  }
  .directions .h4 {
    margin-bottom: 90px;
  }
  .directions__slider_blur {
    position: absolute;
    width: 400px;
    height: 100px;
    right: -64px;
  }
  .directions__slide_title {
    font-size: 24px;
  }
  .directions__slide_text {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  .first .h2 {
    margin-bottom: 80px;
  }
  .first__content {
    gap: 80px;
  }
  .first__text {
    position: sticky;
  }
  .first__text_title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  .first__text ul {
    padding: 50px 60px 0 25px;
    border-top: 2px solid var(--main-green-color);
    font-size: 20px;
  }
  .team .h2 {
    margin-bottom: 90px;
  }
  .team__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
  }
  .team__slide_name {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .team__slide_role {
    font-size: 20px;
  }
  .projects .h2 {
    margin-bottom: 90px;
  }
  .projects__slide_content {
    padding: 30px 25px;
  }
  .projects__slide_icon {
    padding: 6px 35px 6px 20px;
  }
  .projects h1 {
    padding-top: 40px;
  }
  .projects__desc {
    font-size: 22px;
  }
  .projects__desc_text {
    margin-bottom: 35px;
  }
  .project .h2 {
    font-size: 66px;
    padding-top: 30px;
    margin-bottom: 60px;
  }
  .project .about__text {
    gap: 60px;
  }
  .project .about__content {
    margin-bottom: 100px;
  }
  .project__name {
    font-size: 22px;
  }
  .project__addr p {
    font-size: 20px;
  }
  .project__date {
    font-size: 20px;
  }
  .present__text p {
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .consultants__slider {
    overflow: hidden;
  }
  .consultants__slide_img {
    width: 170px;
  }
  .consultants__slide_contacts p {
    font-size: 18px;
  }
  .consultants__head .col button {
    width: 200px;
  }
  .advantages__item {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .field {
    padding-top: 120px;
    padding-bottom: 140px;
  }
  .field__card_title {
    font-size: 26px;
    height: 120px;
  }
  .training__text {
    font-size: 36px;
  }
  .training__text.small {
    font-size: 20px;
  }
  .training__more {
    margin-top: 50px;
  }
  .training__more_link {
    font-size: 22px;
  }
  .training__more_link svg {
    width: 70px;
    height: 70px;
  }
  .services .h2 {
    margin-bottom: 130px;
  }
  .numbers__top {
    margin-bottom: 120px;
  }
  .numbers__title {
    font-size: 52px;
  }
  .numbers__content_right {
    width: 60%;
  }
  .numbers__content_right .numbers__item:first-child {
    width: 40%;
  }
  .numbers__content_right .numbers__item:last-child {
    width: 45%;
  }
  .numbers__content_left {
    width: 28%;
  }
  .numbers__content_left .numbers__item_title {
    text-align: left;
  }
  .numbers__content_left .numbers__item_subtitle {
    text-align: left;
  }
  .numbers__content_left .numbers__item_text {
    text-align: left;
  }
  .numbers__item_title {
    font-size: 140px;
  }
  .numbers__item_subtitle {
    font-size: 28px;
  }
  .numbers__item_text {
    font-size: 18px;
    margin-top: 18px;
    padding-top: 5px;
  }
  .how-work__row_list li {
    font-size: 20px;
  }
  .how-work__cards {
    margin-top: 80px;
  }
  .how-work__card_title {
    font-size: 28px;
  }
  .how-work__card_text {
    font-size: 20px;
  }
  .partners__slide {
    padding: 80px 68px 70px;
  }
  .presentation__container {
    padding: 62px 57px 70px;
  }
  .presentation .subtitle {
    font-size: 20px;
    margin-bottom: 38px;
  }
  .feedback__content {
    padding: 97px 120px 60px;
  }
  .feedback__form_label input, .feedback__form_label textarea {
    padding: 19px 22px;
    font-size: 18px;
  }
  .feedback__form_agree {
    font-size: 17px;
  }
  .news .h2 {
    margin-bottom: 68px;
  }
  .news__slide_title {
    font-size: 22px;
  }
  .news__slide_text {
    font-size: 18px;
  }
  .news__slide_bottom {
    font-size: 15px;
  }
  .submenu__title {
    font-size: 36px;
  }
  .submenu__close_btn {
    font-size: 22px;
  }
  .submenu__close_btn svg {
    width: 66px;
    height: 66px;
  }
  .submenu__body {
    padding-bottom: 100px;
  }
  .map {
    height: 810px;
    border-radius: 20px;
  }
  .contacts__content_block {
    padding: 65px 70px 48px;
  }
  .contacts .h3 {
    margin-bottom: 50px;
  }
  .contacts__list {
    font-size: 28px;
  }
  .calc__list {
    gap: 50px 95px;
  }
  .calc__item {
    font-size: 18px;
    width: calc(25% - 90px);
  }
  .calc__table_head th {
    padding: 40px 20px 30px;
    font-size: 20px;
  }
  .calc__table_head th:first-child {
    padding: 40px 50px 30px;
  }
  .calc__table_head th:last-child {
    padding: 40px 40px 30px 20px;
  }
  .calc__table_body td {
    padding: 40px 20px 30px;
    font-size: 20px;
  }
  .calc__table_body td:first-child {
    padding: 40px 50px 30px;
  }
  .calc__table_body td:last-child {
    padding: 40px 40px 30px 20px;
  }
  .calc__table_body td .numb {
    padding: 15px;
    border-radius: 12px;
  }
  .calc__table_body td .numb::-webkit-outer-spin-button, .calc__table_body td .numb::-webkit-inner-spin-button {
    display: none;
  }
  .calc__table_item-name {
    gap: 15px 25px;
  }
  .calc__table_title {
    padding: 20px 50px;
    font-size: 20px;
  }
  .calc__table_foot td {
    padding: 20px 50px;
    font-size: 28px;
  }
  .calc__table_foot .row {
    gap: 50px;
  }
  .service__points {
    gap: 38px;
  }
  .faq {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .faq .h2 {
    margin-top: 38px;
    margin-bottom: 75px;
  }
  .faq .accordion__title button {
    font-size: 42px;
  }
  .request .container {
    gap: 50px;
  }
  .request__content {
    width: 100%;
    max-width: 1050px;
  }
  .request__form .form__content {
    max-height: 250px;
  }
  .request__form input {
    border-radius: 30px;
    font-size: 20px;
    padding: 18px 22px;
  }
  .request__form_agree {
    font-size: 20px;
  }
  .documents .h2 {
    margin-top: 38px;
    margin-bottom: 70px;
  }
  .documents__content {
    gap: 70px;
  }
  .documents__filter .filter__form {
    gap: 15px;
  }
  .documents__list {
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 60px 30px;
  }
  .documents__link {
    gap: 15px;
  }
}
@media (max-width: 1550px) {
  .h2 {
    font-size: 70px;
  }
  .h3 {
    font-size: 42px;
  }
  .h4 {
    font-size: 36px;
  }
  .h5 {
    font-size: 28px;
  }
  .text {
    font-size: 18px;
  }
  .subtitle {
    font-size: 22px;
  }
  .link {
    font-size: 18px;
  }
  .dark-link {
    font-size: 26px;
  }
  .btn {
    font-size: 18px;
  }
  .head__nav_list {
    gap: 30px;
  }
  .head__search_input {
    width: 450px;
  }
  .fs__slider .swiper-pagination-bullet {
    height: 55px;
  }
  .fs__slide_title {
    padding: 0px 0 90px 64px;
  }
  .fs__slide_content h1 {
    font-size: 90px;
  }
  .fs__slide_text p {
    font-size: 18px;
  }
  .about__top {
    gap: 70px;
  }
  .about__top .role {
    font-size: 22px;
  }
  .about__top .h3 {
    font-size: 36px;
  }
  .about__quoting .before {
    margin-bottom: 28px;
    width: 70px;
    height: 70px;
  }
  .about__quoting .after {
    margin-top: 26px;
    width: 70px;
    height: 70px;
  }
  .about__quoting p {
    font-size: 18px;
  }
  .about__quoting_title {
    font-size: 22px;
  }
  .about__text_list {
    font-size: 18px;
  }
  .about__text_points {
    font-size: 16px;
    gap: 18px;
    width: 90%;
  }
  .about__bottom {
    margin-top: 80px;
  }
  .about__services_block {
    margin-top: 48px;
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .about__services_block .h2 {
    margin-bottom: 60px;
  }
  .about__services_item {
    padding-right: 40px;
  }
  .about__services_item a {
    font-size: 40px;
  }
  .about__desc {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about__desc_bottom {
    margin-top: 50px;
  }
  .directions .h4 {
    margin-bottom: 70px;
  }
  .directions__slide_title {
    font-size: 22px;
  }
  .directions__slide_text {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  .first .h2 {
    margin-bottom: 70px;
  }
  .first__content {
    gap: 70px;
  }
  .first__text {
    position: sticky;
  }
  .first__text_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 45px;
  }
  .first__text ul {
    padding: 45px 60px 0 25px;
    border-top: 2px solid var(--main-green-color);
    font-size: 18px;
  }
  .team .h2 {
    margin-bottom: 70px;
  }
  .team__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .team__slide_name {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .team__slide_role {
    font-size: 18px;
  }
  .projects .h2 {
    margin-bottom: 80px;
  }
  .projects__slide_content {
    padding: 30px 25px;
  }
  .projects__slide_icon {
    padding: 6px 35px 6px 20px;
  }
  .projects__slide_name {
    font-size: 20px;
  }
  .projects__desc {
    font-size: 20px;
  }
  .projects__desc_text {
    margin-bottom: 35px;
  }
  .project .h2 {
    font-size: 60px;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .project .about__text {
    gap: 55px;
  }
  .project .about__content {
    margin-bottom: 90px;
  }
  .project__name {
    font-size: 20px;
  }
  .project__addr p {
    font-size: 18px;
  }
  .project__date {
    font-size: 18px;
  }
  .project__desc {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .project__desc_title {
    padding-bottom: 15px;
  }
  .project__desc_icon {
    margin-top: 20px;
    font-size: 18px;
  }
  .project__gallery {
    padding-top: 80px;
  }
  .project__slider {
    margin-top: 70px;
  }
  .present__text p {
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .field {
    padding-top: 110px;
    padding-bottom: 130px;
  }
  .field__card_title {
    font-size: 24px;
    padding: 25px 22px;
    height: 100px;
  }
  .training__top {
    margin-bottom: 60px;
  }
  .training__text {
    font-size: 30px;
  }
  .training__text.small {
    font-size: 18px;
  }
  .training__text.small .citate {
    margin-top: 25px;
  }
  .training__more {
    margin-top: 40px;
  }
  .training__more_link {
    font-size: 20px;
  }
  .training__more_link svg {
    width: 60px;
    height: 60px;
  }
  .services .h2 {
    margin-bottom: 120px;
  }
  .numbers__top {
    margin-bottom: 110px;
  }
  .numbers__title {
    font-size: 50px;
  }
  .numbers__content_right {
    width: 60%;
  }
  .numbers__content_right .numbers__item:first-child {
    width: 40%;
  }
  .numbers__content_right .numbers__item:last-child {
    width: 45%;
  }
  .numbers__content_left {
    width: 28%;
  }
  .numbers__content_left .numbers__item_title {
    text-align: left;
  }
  .numbers__content_left .numbers__item_subtitle {
    text-align: left;
  }
  .numbers__content_left .numbers__item_text {
    text-align: left;
  }
  .numbers__item_title {
    font-size: 130px;
  }
  .numbers__item_subtitle {
    font-size: 24px;
  }
  .numbers__item_text {
    font-size: 16px;
    margin-top: 15px;
    padding-top: 5px;
  }
  .how-work__row_list li {
    font-size: 18px;
  }
  .how-work__cards {
    margin-top: 60px;
  }
  .how-work__card_title {
    font-size: 26px;
  }
  .how-work__card_num {
    width: 68px;
    height: 68px;
  }
  .how-work__card_text {
    font-size: 18px;
  }
  .partners__slide {
    padding: 70px 60px 60px;
  }
  .presentation__container {
    padding: 50px 52px 60px;
  }
  .presentation .subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .feedback__content {
    padding: 87px 100px 60px;
  }
  .feedback__form_label input, .feedback__form_label textarea {
    padding: 16px 22px;
    font-size: 17px;
  }
  .feedback__form_agree {
    font-size: 16px;
  }
  .news .h2 {
    margin-bottom: 60px;
  }
  .news__slide_title {
    font-size: 20px;
  }
  .news__slide_text {
    font-size: 16px;
  }
  .news__slide_bottom {
    font-size: 14px;
  }
  .mobile__bg {
    right: 10%;
    width: 15.4296875%;
  }
  .mobile__nav_center ul li button {
    font-size: 32px;
  }
  .mobile__nav_top ul {
    gap: 15px 50px;
  }
  .mobile__nav_top ul li a {
    padding-right: 26px;
    font-size: 32px;
  }
  .mobile__nav_top ul li a:hover {
    padding-left: 13px;
    padding-right: 13px;
  }
  .mobile__nav_bottom ul {
    gap: 55px 180px;
  }
  .mobile__nav_bottom ul li a {
    font-size: 32px;
  }
  .mobile__foot {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .mobile__foot_contacts ul {
    font-size: 18px;
  }
  .submenu__title {
    font-size: 32px;
  }
  .submenu__close_btn {
    font-size: 18px;
  }
  .submenu__close_btn svg {
    width: 50px;
    height: 50px;
  }
  .submenu__body {
    padding-bottom: 80px;
  }
  .map {
    height: 810px;
    border-radius: 20px;
  }
  .contacts__content_block {
    padding: 60px 65px 40px;
  }
  .contacts .h3 {
    margin-bottom: 50px;
  }
  .contacts__list {
    font-size: 22px;
  }
  .calc__list {
    gap: 40px 75px;
  }
  .calc__item {
    font-size: 16px;
    width: calc(25% - 70px);
  }
  .calc__table_head th {
    padding: 40px 20px 30px;
    font-size: 20px;
  }
  .calc__table_head th:first-child {
    padding: 40px 50px 30px;
  }
  .calc__table_head th:last-child {
    padding: 40px 40px 30px 20px;
  }
  .calc__table_body td {
    padding: 30px 20px 20px;
    font-size: 18px;
  }
  .calc__table_body td:first-child {
    padding: 30px 40px 20px;
  }
  .calc__table_body td:last-child {
    padding: 30px 30px 20px 20px;
  }
  .calc__table_body td .numb {
    padding: 15px;
    border-radius: 12px;
  }
  .calc__table_body td .numb::-webkit-outer-spin-button, .calc__table_body td .numb::-webkit-inner-spin-button {
    display: none;
  }
  .calc__table_item-name {
    gap: 15px 20px;
  }
  .calc__table_title {
    padding: 20px 40px;
    font-size: 18px;
  }
  .calc__table_foot td {
    padding: 20px 40px;
    font-size: 26px;
  }
  .calc__table_foot .row {
    gap: 50px;
  }
  .service__points {
    gap: 36px;
  }
  .faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .faq .h2 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .faq .accordion__title button {
    font-size: 38px;
  }
  .request .container {
    gap: 40px;
  }
  .request__content {
    width: 100%;
    max-width: 1050px;
  }
  .request__form .form__content {
    max-height: 250px;
  }
  .request__form input {
    border-radius: 30px;
    font-size: 18px;
    padding: 18px 22px;
  }
  .request__form_agree {
    font-size: 18px;
  }
  .documents .h2 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .documents__content {
    gap: 65px;
  }
  .documents__filter .filter__form {
    gap: 15px;
  }
  .documents__list {
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 55px 30px;
  }
  .documents__link {
    gap: 15px;
  }
}
@media (max-width: 1440px) {
  .h2 {
    font-size: 60px;
  }
  .h3 {
    font-size: 36px;
  }
  .h4 {
    font-size: 32px;
  }
  .h5 {
    font-size: 26px;
  }
  .text {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
  }
  .btn-sm {
    padding: 18px 30px;
  }
  .false-phone-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    width: 40px;
    height: 40px;
  }
  .false-phone-link svg {
    width: 100%;
    height: 100%;
  }
  .phone-link {
    display: none;
  }
  .dark-link {
    font-size: 24px;
  }
  .head__left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head__right {
    gap: 40px;
  }
  .head__search_input {
    width: 350px;
  }
  .fs__slider .swiper-pagination-bullet {
    height: 42px;
  }
  .fs__slide_content h1 {
    font-size: 75px;
  }
  .fs__slide_text p {
    font-size: 16px;
  }
  .about__top {
    gap: 60px;
  }
  .about__top .role {
    font-size: 20px;
  }
  .about__top .h3 {
    font-size: 32px;
  }
  .about__content.border {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about__quoting .before {
    margin-bottom: 24px;
    width: 65px;
    height: 65px;
  }
  .about__quoting .after {
    margin-top: 24px;
    width: 65px;
    height: 65px;
  }
  .about__quoting p {
    font-size: 18px;
  }
  .about__quoting_title {
    font-size: 22px;
  }
  .about__text blockquote {
    font-size: 18px;
  }
  .about__text_list {
    font-size: 16px;
  }
  .about__text.border-block {
    padding: 30px 20px;
  }
  .about__text_points {
    font-size: 15px;
    gap: 18px;
    width: 90%;
  }
  .about__bottom {
    margin-top: 70px;
  }
  .about__services_block {
    margin-top: 45px;
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .about__services_block .h2 {
    margin-bottom: 55px;
  }
  .about__services_item {
    padding-right: 40px;
  }
  .about__services_item a {
    font-size: 38px;
  }
  .about__desc {
    margin-top: 55px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .about__desc_bottom {
    margin-top: 45px;
  }
  .directions .h4 {
    margin-bottom: 60px;
  }
  .directions__slide_title {
    font-size: 20px;
  }
  .first .h2 {
    margin-bottom: 60px;
  }
  .first__content {
    gap: 60px;
  }
  .first__text {
    position: sticky;
  }
  .first__text_title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .first__text ul {
    padding: 40px 60px 0 25px;
    border-top: 2px solid var(--main-green-color);
    font-size: 16px;
    gap: 20px;
  }
  .team .h2 {
    margin-bottom: 60px;
  }
  .team__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .team__slide_content {
    width: 100%;
  }
  .team__slide_name {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .team__slide_role {
    font-size: 18px;
  }
  .projects .h2 {
    margin-bottom: 60px;
  }
  .projects__slide_content {
    padding: 30px 25px;
  }
  .projects__slide_icon {
    padding: 6px 35px 6px 20px;
  }
  .projects__slide_name {
    font-size: 18px;
  }
  .projects h1 {
    padding-top: 35px;
  }
  .projects__desc {
    padding-top: 45px;
    padding-right: 20px;
    font-size: 18px;
  }
  .projects__desc_text {
    margin-bottom: 30px;
  }
  .project .h2 {
    font-size: 54px;
    padding-top: 25px;
    margin-bottom: 45px;
  }
  .project .about__text {
    gap: 50px;
  }
  .project .about__content {
    margin-bottom: 80px;
  }
  .project__name {
    font-size: 20px;
  }
  .project__addr p {
    font-size: 18px;
  }
  .project__date {
    font-size: 18px;
  }
  .present__text p {
    font-size: 16px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .consultants__slider {
    overflow: hidden;
  }
  .consultants__slide_img {
    width: 150px;
  }
  .consultants__slide_contacts p {
    font-size: 16px;
  }
  .consultants__slide_name {
    font-size: 22px;
  }
  .consultants__slide_role {
    font-size: 18px;
  }
  .consultants__head .col button {
    width: 150px;
    height: 150px;
  }
  .advantages__list {
    width: 40%;
  }
  .advantages__img {
    width: 50%;
  }
  .advantages__item {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .field {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .field__cards {
    gap: 20px;
  }
  .field__card_title {
    font-size: 20px;
    padding: 20px 18px;
    height: 80px;
  }
  .training__top {
    margin-bottom: 50px;
  }
  .training__text {
    font-size: 26px;
  }
  .training__text.small {
    font-size: 16px;
  }
  .training__text_border {
    padding-bottom: 5px;
  }
  .training__more {
    margin-top: 30px;
  }
  .training__more_link {
    font-size: 18px;
  }
  .training__more_link svg {
    width: 55px;
    height: 55px;
  }
  .services .h2 {
    margin-bottom: 100px;
  }
  .services__card_img {
    height: 340px;
  }
  .services__card_text {
    font-size: 18px;
  }
  .services__slider-container {
    gap: 50px;
  }
  .services__navigation_prev, .services__navigation_next {
    width: 65px;
    height: 65px;
  }
  .numbers__top {
    margin-bottom: 100px;
  }
  .numbers__title {
    font-size: 46px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .numbers__content_right {
    width: 60%;
  }
  .numbers__content_right .numbers__item:first-child {
    width: 40%;
  }
  .numbers__content_right .numbers__item:last-child {
    width: 45%;
  }
  .numbers__content_left {
    width: 28%;
  }
  .numbers__content_left .numbers__item_title {
    text-align: left;
  }
  .numbers__content_left .numbers__item_subtitle {
    text-align: left;
  }
  .numbers__content_left .numbers__item_text {
    text-align: left;
  }
  .numbers__item_title {
    font-size: 116px;
  }
  .numbers__item_subtitle {
    font-size: 22px;
  }
  .numbers__item_text {
    font-size: 16px;
    margin-top: 15px;
    padding-top: 5px;
  }
  .how-work__row_list li {
    font-size: 16px;
  }
  .how-work__cards {
    margin-top: 50px;
  }
  .how-work__card {
    padding: 35px 30px 45px 64px;
  }
  .how-work__card:nth-child(3n) {
    border-right: none;
    padding: 35px 64px 45px 30px;
  }
  .how-work__card_title {
    font-size: 24px;
  }
  .how-work__card_num {
    width: 60px;
    height: 60px;
  }
  .how-work__card_text {
    font-size: 16px;
  }
  .partners__slide {
    padding: 60px 40px 50px;
  }
  .presentation__container {
    padding: 50px 48px 50px;
  }
  .presentation__img {
    width: 60.3794642857%;
  }
  .presentation__content {
    width: 41.8526785714%;
  }
  .presentation .subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .feedback__content {
    padding: 75px 80px 60px;
  }
  .feedback__form_label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feedback__form_label input, .feedback__form_label textarea {
    width: 100%;
    padding: 14px 22px;
    border-radius: 30px;
    font-size: 16px;
  }
  .feedback__form_agree {
    font-size: 15px;
  }
  .news .h2 {
    margin-bottom: 55px;
  }
  .news__slide_title {
    font-size: 18px;
  }
  .news__slide_text {
    font-size: 15px;
  }
  .news__slide_content {
    min-height: 200px;
  }
  .news__slide_bottom {
    font-size: 13px;
  }
  .news__grid {
    gap: 40px;
  }
  .mobile__head {
    padding-bottom: 20px;
  }
  .mobile__body {
    padding-top: 30px;
  }
  .mobile__body .container {
    gap: 30px;
  }
  .mobile .logo {
    width: 165px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__close_btn {
    width: 40px;
    height: 40px;
  }
  .mobile__close_btn svg {
    width: 20px;
    height: 20px;
  }
  .mobile__nav_center ul {
    gap: 25px;
  }
  .mobile__nav_center ul li button {
    font-size: 28px;
  }
  .mobile__nav_top ul {
    gap: 15px 50px;
  }
  .mobile__nav_top ul li a {
    padding-right: 18px;
    font-size: 28px;
  }
  .mobile__nav_top ul li a:hover {
    padding-left: 9px;
    padding-right: 9px;
  }
  .mobile__nav_bottom ul {
    gap: 50px 160px;
  }
  .mobile__nav_bottom ul li a {
    font-size: 28px;
  }
  .mobile__foot {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .mobile__foot_contacts ul {
    font-size: 16px;
  }
  .submenu__title {
    font-size: 28px;
  }
  .submenu__close_btn {
    font-size: 16px;
  }
  .submenu__close_btn svg {
    width: 44px;
    height: 44px;
  }
  .submenu__nav_list {
    gap: 30px;
  }
  .submenu__body {
    padding-bottom: 60px;
  }
  .map {
    height: 790px;
    border-radius: 20px;
  }
  .contacts__content_block {
    padding: 60px 65px 40px;
  }
  .contacts .h3 {
    margin-bottom: 45px;
  }
  .contacts__list {
    font-size: 20px;
  }
  .calc__form-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .calc__table_head th {
    padding: 20px 20px 30px;
    font-size: 20px;
  }
  .calc__table_head th:first-child {
    padding: 20px 40px 30px;
  }
  .calc__table_head th:last-child {
    padding: 20px 40px 30px 20px;
  }
  .calc__table_body td {
    padding: 20px 20px 20px;
    font-size: 16px;
  }
  .calc__table_body td:first-child {
    padding: 20px 40px 20px;
  }
  .calc__table_body td:last-child {
    padding: 20px 30px 20px 20px;
  }
  .calc__table_body td .numb {
    padding: 15px;
    border-radius: 12px;
  }
  .calc__table_body td .numb::-webkit-outer-spin-button, .calc__table_body td .numb::-webkit-inner-spin-button {
    display: none;
  }
  .calc__table_item-name {
    gap: 10px 20px;
  }
  .calc__table_item-name img {
    width: 35px;
    height: 35px;
  }
  .calc__table_title {
    padding: 20px 40px;
    font-size: 16px;
  }
  .calc__table_foot td {
    padding: 20px 40px;
    font-size: 24px;
  }
  .calc__table_foot .row {
    gap: 40px;
  }
  .service__points {
    gap: 34px;
  }
  .faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .faq .h2 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .faq .accordion__title button {
    font-size: 32px;
  }
  .faq .accordion__title button svg {
    width: 30px;
    height: 30px;
  }
  .request .container {
    gap: 30px;
  }
  .request__content {
    width: 100%;
    max-width: 1050px;
  }
  .request__form .form__content {
    max-height: 250px;
  }
  .request__form input {
    border-radius: 30px;
    font-size: 16px;
    padding: 18px 20px;
  }
  .request__form_agree {
    font-size: 16px;
  }
  .documents .h2 {
    margin-top: 25px;
    margin-bottom: 55px;
  }
  .documents__content {
    gap: 60px;
  }
  .documents__filter .filter__form {
    gap: 15px;
  }
  .documents__list {
    grid-template-columns: repeat(auto-fill, minmax(280px, auto));
    gap: 50px 30px;
  }
  .documents__link {
    gap: 15px;
  }
}