:root {
  --main-font: "Montserrat", sans-serif;
  --title-font: "Graphik LCG", sans-serif;
  --white-color: #FFFFFF;
  --gray-color: #EEEEEE;
  --dark-color: #1E1E1E;
  --gray-color: rgba(30, 30, 30, 0.40);
  --main-green-color: #009551;
  --gap: 30px;
  --transition-duration: 0.5s;
  --radius: 20px;
}