@media (max-width: 650px) {
    .training {

        & .container {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            gap: 50px;
        }
        &__text {
            font-size: 22px;
            width: 100%;
        }

        &__more {
            margin-top: 30px;

            &_link {
                font-size: 16px;

                & svg {
                    width: 52px;
                    height: 52px;
                }
            }
        }

        &__img {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            isolation: isolate;
        }
    }
}

@media (max-width: 550px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    :root {
        --gap: 50px;
    }

    .foot {
        padding: 40px 20px;

        &__bottom {
            &_list {
                align-items: center;
                align-content: normal;
            }
        }
        // align-items: center;

        &__logo {
            margin-left: auto;
            margin-right: auto;
        }

        &__contacts {
            &_scls {
                max-width: 300px;
            }
        }
    }

    .head {
        &__bottom {
            flex-direction: column;
        }
    }

    .fs {
        min-height: 750px;
        &__slide {

            &_title {
                padding: 1px 20px 55px;
                width: 100%;
                border-right: none;
            }

            &_text {
                width: 100%;
                border: none;
                padding: 24px 20px 54px;
            }

            &_content {
                & h1 {
                    margin-top: 195px;
                    font-size: 45px;

                    & .line:nth-child(1) {
                        margin-left: 0px;
                        white-space: nowrap;
                    }
                    & .line:nth-child(3) {
                        margin-left: 0px;
                        white-space: nowrap;
                    }
                    & .line:nth-child(5) {
                        margin-left: 0px;
                        white-space: initial;
                    }
                }
            }
        }

        &__slider {
            &_pagination {
                display: none;
                top: 85px !important;
                left: 20px !important;
            }
        }
    }

    .present {

        &__images {
            width: 80%;
            max-height: 3000px;

            &_item {

                &.item-1 {
                    margin-left: 40px;
                }

                &.item-2 {
                    margin-left: 100px;
                }
                &.item-3 {
                    margin-left: 20px;
                }
            }
        }

        &__text {
            width: 100%;
            & p {
                font-size: 16px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

    .consultants {

        &__head {
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;

            &_title {
                gap: 30px;
            }

            &_contacts {
                gap: 10px 40px;
                flex-wrap: wrap;
            }

            & .col button {
                width: 160px;
                height: 160px;
            }
        }
    }

    .field {
        padding-top: 35px;
        padding-bottom: 70px;
        &__cards {
            gap: 13px;
    
        }
        &__card {
            width: 100%;
            &_title {
                font-size: 20px;
                padding: 16px 12px;
                height: 70px;
            }
        }
    }

    .presentation {

        &__container {
            padding: 56px 20px 320px;
        }

        &__content {
            width: 100%;
           
            // min-height: 560px;

            &_bottom {
                & .btn {
                    & svg {
                        width: 20px;
                        height: 20px;
                    }
                    

                }
            }
        }

        &_circle {
            width: 500px;
            padding-bottom: 0;
            height: 500px;
            top: 260px;
            left: 20%;
            transform: translateX(0%) translateY(0%);
        }

        &__img {
            width: 140%;
            left: 40%;
            bottom: 30px;
            transform: translate(-50%);
        }
    }

    .feedback {
        &__content {
            border-radius: 10px;
            padding: 48px 20px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 27.75%, rgba(0, 0, 0, 0.00) 99.99%), url(../img/feegback.png), lightgray -20px -246.5px / 460.668% 182.056% no-repeat;
    
            &_form {
                width: 100%;
                margin-left: 0;
            }
        }
    
        &__form {

            &_fields {
                width: 100%;
            }
    
            &_label {
    
                & input, & textarea {
                    font-size: 16px;
                }
            }
    
            &_agree {
                font-size: 14px;
            }

            & .btn {
                width: 100%;
            }
        }
    }

    .form__content {
        gap: 20px;
    }

    .news {
        &__slider {
            &_pagination {
                display: none;
            }
        }

        &__slide {

            &_title {
                font-size: 22px;
            }

            &_content {
                min-height: 220px;
            }

            &_bottom {
                font-size: 15px;
            }
        }
    }

    .mobile {

        &__head {

            & .container {
                align-items: flex-start;
            }
            &_left {
                flex-wrap: wrap;
                gap: 15px 30px;
            }
        }

        &__body {
            padding-top: 20px;

            & .container {
                gap: 30px;
            }
        }

        & .logo {
            width: 145px !important;
            display: flex;
        }

        &__close_btn {
            width: 40px;
            height: 40px;

            & svg {
                width: 20px;
                height: 20px;
            }
        }
        &__nav {

            &_title {
                font-size: 16px;
                margin-bottom: 15px;
            }
            &_center {
                // width: calc(1400 / 1792 * 100%);
                width: 100%;
                & ul{
                    gap: 10px;

                    & li button  {
                        font-size: 16px;
                    }
                    
                }
            }

            &_top {
                width: 100%;
                // width: calc(1400 / 1792 * 100%);

                & ul{
                    gap: 15px 20px;
                    & li a {
                        padding-right: 0px;
                        font-size: 16px;
                        padding-bottom: 5px;
                    }
                    &:hover {
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                    
                }
            }
            &_bottom {
                // width: calc(1440 / 1792 * 100%);
                width: 100%;
               
                & ul {
                    gap: 10px 30px;

                    & li a {
                        font-size: 16px;
                        padding-bottom: 5px;
                        }
                }
            }
        }

        &__foot {
            padding-top: 20px;
            padding-bottom: 20px;

            & .container {
                gap: 30px;
            }

            &_contacts {
                width: 100%;
                
                
                & ul {
                    font-size: 16px;
                    gap:10px 20px;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .submenu {

        &__head {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__title {
            font-size: 18px;
            gap: 7px;
        }

        &__close {
            &_btn {
                font-size: 14px;

                & svg {
                    width: 38px;
                    height: 38px;
                }
            }
        }

        &__img {
            display: none;
            // width: calc(338 / 926 * 100%);
        }

        &__nav {
            width: 100%;

            &_list {
                gap: 15px;
            }
        }

        &__body {
            padding-bottom: 30px;
            padding-top: 20px;
        }
    }
}

@media (max-width: 420px) {

    :root {
        gap: 30px;
    }

    .h2 {
        font-size: 30px;
    }

    .footer-phone-link {
        font-size: 30px;
    }

    .footer-email-link {
        font-size: 24px;
    }

    .btn {
        font-size: 14px;
    }
    .btn-xsm {
        padding: 18px 30px;
    }

    .sm-link {
        font-size: 16px;
    }

    .foot {
        
        &__logo {
            width: 240px;
        }

        &__copyrait {
            font-size: 16px;
        }

        &__contacts {
            &_scls {
                font-size: 18px;

                & svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .fs {
        &__slide {
            &_content {
                & h1 {
                    margin-top: 195px;
                    font-size: 36px;

                    & .line:nth-child(1) {
                        margin-left: 0px;
                        white-space: nowrap;
                    }
                    & .line:nth-child(3) {
                        margin-left: 0px;
                        white-space: nowrap;
                    }
                    & .line:nth-child(5) {
                        margin-left: 0px;
                        white-space: initial;
                    }
                }
            }
        }

    }
    .present {

        &__row {
            gap: 40px;
        }

        &__images {
            width: 80%;
            max-height: 3000px;

            &_item {

                &.item-1 {
                    margin-left: 30px;
                    top: 32px;
                }

                &.item-2 {
                    margin-left: 80px;
                }
                &.item-3 {
                    margin-left: 20px;
                    bottom: 28px;
                }
            }
        }
    }

    .consultants {

        &__head {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            &_title {
                gap: 20px;
            }
            &_contacts {
                gap: 10px 40px;
                flex-wrap: wrap;
            }

            & .col button {
                width: 140px;
                height: 140px;
            }
        }
    }

    .advantages {
        & .container {
            gap: 30px;
        }
    }

    .field {
        padding-top: 30px;
        padding-bottom: 40px;
        
        & .subtitle {
            margin-bottom: 25px;
        }
    }

    .training {

        & .container {
            gap: 30px;
        }
        &__text {
            font-size: 18px;
        }

        &__more {
            margin-top: 20px;

            &_link {
                font-size: 16px;

                & svg {
                    width: 52px;
                    height: 52px;
                }
            }
        }

        &__img {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            isolation: isolate;
        }
    }

    .how-work {
        &__row {
            gap: 25px;
            &_list {
                padding-left: 18px;
                gap: 10px;
                & li {
                    font-size: 14px;
                }
            }
        }
    }

    .presentation {

        &__container {
            padding: 36px 15px 320px;
        }

        &__content {

            &_bottom {
                & .btn {
                    & svg {
                        width: 20px;
                        height: 20px;
                    }
                    

                }
            }
        }

        &_circle {
            width: 500px;
            padding-bottom: 0;
            height: 500px;
            top: 260px;
            left: 20%;
            transform: translateX(0%) translateY(0%);
        }

        &__img {
            width: 160%;
            left: 40%;
            bottom: 30px;
            transform: translate(-50%);
        }
    }

    .feedback {

        &__content {
            padding: 30px 20px;
        }
    
        &__form {
    
            &_label {
    
                & input, & textarea {
                    border-radius: 20px;
                }
            }
    
            &_agree {
                font-size: 13px;
            }
        }
    }

    .news {
        &__slider {
            &_pagination {
                display: none;
            }
        }

        &__slide {

            &_title {
                font-size: 18px;
            }

            &_content {
                min-height: 220px;
            }

            &_bottom {
                font-size: 13px;
            }
        }
    }

    
}

@media (max-height: 850px) {
    .fs {
        min-height: 850px;
        &__slider {
            &_pagination {
                top: 140px !important;
            }
        }
        &__slide {
            &_title {
                padding: 25px 1px 40px 64px;
               
            }
        }
    }
}

@media (max-height: 850px) and (max-width: 1200px) {
    .fs {
        min-height: 650px;
        &__slider {
            &_pagination {
                top: 140px !important;
            }
        }
        &__slide {
            &_title {
                padding: 25px 1px 80px 64px;
               
            }
        }
    }
}

@media (max-height: 850px) and (max-width: 991px) {
    .fs {
        min-height: 650px;
        // &__slider {
        //     &_pagination {
        //         top: 140px !important;
        //     }
        // }
        &__slide {
            
                &_content {
                    & h1 {
                        margin-top: 120px;
                        font-size: 48px;
                    }
                }
            &_title {
                padding: 25px 1px 60px 48px;
               
            }
        }
    }
}

@media (max-height: 850px) and (max-width: 768px) {
    .fs {
        min-height: 650px;
        // &__slider {
        //     &_pagination {
        //         top: 140px !important;
        //     }
        // }
        &__slide {
            
                &_content {
                    & h1 {
                        margin-top: 120px;
                        // font-size: 48px;
                    }
                }
            &_title {
                padding: 25px 1px 50px 35px;
               
            }
        }
    }
}

@media (max-height: 850px) and (max-width: 550px) {
    .fs {
        min-height: 750px;
        // &__slider {
        //     &_pagination {
        //         top: 140px !important;
        //     }
        // }
        &__slide {
            
                &_content {
                    & h1 {
                        margin-top: 195px;
                        font-size: 45px;
                    }
                }
            &_title {
                padding: 1px 20px 55px;
               
            }
        }
    }
}