@media (max-width:768px) {
    .footer-phone-link {
        font-size: 35px;
    }

    .footer-email-link {
        font-size: 30px;
    }

    .false-phone-link {
        display: none;
    }

    .sm-link {
        font-size: 17px;
    }
    .head {
        padding: 21px 35px;
        flex-wrap: wrap;

        &__left {
            width: auto;
        }
        &__feedback {
            display: none;
        }

        &__bottom {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            width: 100%;

            & .head__feedback {
                display: block;
            }

            & .phone-link {
                display: flex;
            }
        }
    }

    .foot {
        padding: 50px 35px 50px;

        &__top {
            display: none;
        }

        &__logo {
            width: 280px;
        }


        &__bottom {
            padding-top: 0;

            &_scroll {
                right: 35px;

                &-btn {
                    width: 50px;
                    height: 50px;

                    & svg {
                        width: 100%;
                    }
                }
                
            }

            &_list {
                max-height: 1000px;
                flex-direction: c;
            }

            &_recall {
                order: 3;
            }

            
        }
        &__links {
            order: 4;
        }
        &__copyrait {
            order: 5;
        }
    }

    .fs {
        min-height: 700px;

        &__slider {

            & .swiper-pagination-bullet {
                height: 25px;
            }

            &_pagination {
                top: 160px !important;
                left: 35px !important;

            }
        }

        &__slide {
            &_content {
                & h1 {
                    margin-top: 160px;
                    font-size: 48px;
                }
            }
            

            &_title {
                padding: 1px 0 60px 35px;
                width:30%;
            }

            &_text {
                width: calc(70% + 1px);
            }
        }
    }
}