

@media (max-width: 850px) {
    .advantages {
        & .container {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            gap: 60px;
        }
        &__list {
            width: 100%;
        }

        &__img {
            width: 100%;
        }
        &__item {
            font-size: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

@media (max-width:768px) {

    .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    :root {
        --gap: 60px;
    }
    .footer-phone-link {
        font-size: 35px;
    }

    .footer-email-link {
        font-size: 30px;
    }

    .false-phone-link {
        display: none;
    }

    .sm-link {
        font-size: 17px;
    }
    .head {
        padding: 21px 35px;
        flex-wrap: wrap;

        &__left {
            width: auto;
        }
        &__feedback {
            display: none;
        }

        &-fixed {
            & .head__bottom {
                display: none;
            }

            & .head__center {
                margin-left: auto;
            }

            & .head__right {
                margin-left: 0;
            }

            & .false-phone-link {
                display: flex;
                margin-left: auto;
                margin-right: 0;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            width: 100%;

            & .head__feedback {
                display: block;
            }

            & .phone-link {
                display: flex;
            }
        }
    }

    .foot {
        padding: 50px 35px 50px;

        &__top {
            display: none;
        }

        &__logo {
            width: 280px;
        }


        &__bottom {
            padding-top: 0;

            &_scroll {
                right: 35px;

                &-btn {
                    width: 50px;
                    height: 50px;

                    & svg {
                        width: 100%;
                    }
                }
                
            }

            &_list {
                max-height: 1000px;
                flex-direction: column;
            }

            &_recall {
                order: 3;
            }

            
        }
        &__links {
            order: 4;
        }
        &__copyrait {
            order: 5;
        }
    }

    .fs {
        min-height: 700px;

        &__slider {

            & .swiper-pagination-bullet {
                height: 25px;
            }

            &_pagination {
                top: 160px !important;
                left: 35px !important;

            }
        }

        &__slide {
            &_content {
                & h1 {
                    margin-top: 160px;
                    font-size: 48px;
                    & .line:nth-child(1) {
                        margin-left: 40px;
                        white-space: nowrap;
                    }
                    & .line:nth-child(3) {
                        margin-left: 120px;
                        white-space: nowrap;
                    }
                    & .line:nth-child(5) {
                        margin-left: 0px;
                        white-space: nowrap;
                    }
                }
            }
            

            &_title {
                padding: 1px 0 60px 35px;
                width:30%;
            }

            &_text {
                width: calc(70% + 1px);
            }
        }
    }

    .present {

        &__row {
            gap: 50px;
        }

        &__images {
            width: 80%;
            max-height: 3000px;

            &_item {
                &.item-3 {
                    margin-left: 40px;
                }
            }
        }

        &__text {
            width: 100%;
            & p {
                font-size: 16px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

    .consultants {

        &__head {
            align-items: flex-start;

            &_contacts {
                gap: 10px 40px;
                flex-wrap: wrap;
            }
        }
    }

    .feed {
        margin-top: 45px;
        margin-bottom: 80px;
    }

    .training {
        &__text {
            font-size: 16px;
            width: calc(1150 / 1792 * 100%);
        }

        &__more {
            margin-top: 10px;

            &_link {
                font-size: 14px;

                & svg {
                    width: 45px;
                    height: 45px;
                }
            }
        }

        &__img {
            width: calc(550 / 1792 * 100%);
            border-radius: 10px;
            overflow: hidden;
            isolation: isolate;
        }
    }

    .how-work {
        &__row {
            flex-wrap: wrap;
            gap: 30px;
            &_title {
                padding-left: 0px;
            }
            &_list {
                padding-left: 20px;
                gap: 15px;
                & li {
                    font-size: 16px;
                }
            }
        }
    }

    .partners {
        &__slider {
            &_pagination {
                display: none;
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .presentation {
        &__container {
            flex-direction: column;
            padding-bottom: 170px;
        }

        &__content {
            width: 80%;
            
            // min-height: 560px;

            &_bottom {
                & .btn {
                    & svg {
                        width: 20px;
                        height: 20px;
                    }
                    

                }
            }
        }

        &_circle {
            width: 480px;
            padding-bottom: 0;
            height: 480px;
            transform: translateX(37%) translateY(50%);
        }

        &__img {
            width: 80%;

        }
    }

    .feedback {
        &__content {
            padding: 55px 40px 55px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 27.75%, rgba(0, 0, 0, 0.00) 99.99%), url(../img/feegback.png), lightgray -20px -246.5px / 460.668% 182.056% no-repeat;
    
            &_form {
                width: 100%;
                margin-left: 0;
            }
        }
    
        &__form {

            &_fields {
                width: 100%;
            }
    
            &_label {
    
                & input, & textarea {
                    font-size: 16px;
                }
            }
    
            &_agree {
                font-size: 14px;
            }
        }
    }

    .news {

        &__slide {

            &_title {
                font-size: 20px;
            }

            &_content {
                min-height: 200px;
            }

            &_bottom {
                font-size: 14px;
            }
        }
    }
}